# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Code
.vscode

# Gitignore
gitignore/

# Build
build/
bin/

# Tools
tools/

# Shaders
shaders/__pycache__

# Diagnostics
src/utils/DiagnosticsReporter.h
src/utils/DiagnosticsReporter.cpp
src/utils/NetPerfReporter.h
src/utils/NetPerfReporter.cpp
src/utils/PerfTimer.h
scripts/netperf_listen.py